//animation for about.
@include keyframe (fade) {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@include keyframe (fade-out) {
  from {
    opacity: 1;
    display: flex;
  }
  to {
    opacity: 0;
    display:none;

  }
}

//section for about.
.about-box {
  position:relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height:20rem;
  width: 180vw;
  background: $red;
  margin-top: $gutter * 10;
  @include transition(all 1.2s ease);
  @include transform(rotate(25deg) translate(-20%,0));
  text-align: left;

  &.is-active {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    //height:66.5em;
    height:auto;
    margin:0 0 10em 0;
    @include transform(translate(0, 10%));
  }
  //queries
  @include breakpoint(small){
    height:28rem;
    @include transform(rotate(25deg) translate(-45%));
  };
  @include breakpoint(large){
    margin-top:$gutter * 10;
  };
}

.about-h1 {
  color:white;
  @include transform(rotate(-25deg));
  @include transition(all 1s ease);
  @include heading-2;
  margin: 0 2em 1em 0;
  cursor: pointer;

  &:hover {
    color:$light-gray;
  }

  &.is-active {
    @include transition(all 1s ease);
    @include transform(rotate(0));
    margin: 0;
    @include breakpoint(medium){
      margin:1em;
    };
  }
}

.about-h4 {
  text-align: center;
}

.about-article {
  @include transition(all 1s ease);
  width: 100vw;
  margin:0;
  opacity: 0;
  display: none;
  background:white;

  &.is-active {
    @include animation(fade, 1s, forwards, 1);
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.article-container {
  height:auto;
}

.about-p {
  padding:1rem;
  font-family:$text-face;
}

.about-img {
  margin-bottom: 2em;
}

.arrow-about {
  cursor: pointer;
  display: none;
  height: 2em;
  margin: 1em;

  &.is-active {
    @include animation(fade, 2s, forwards, 1);
    display: inline;
    opacity: 1;
  }
}
