//imports
@import "varmix";
@import "landing";
@import "structure";
@import "nav";
@import "contact";
@import "about";
@import "work";

/*------------------------main content*/

noscript {
    background: $red;
    text-align: center;
    color: white;
    font-family: $text-face;
    padding: 2.5em;
    z-index: 1000;
}


/*------------------------typography*/

h1 {
    @include heading-1;
}

h2 {
    @include heading-2;
}

h3 {
    @include heading-3;
}

h4 {
    @include heading-4;
}

h5 {
    @include heading-5;
}

h6 {
    @include heading-6;
}

p,
span {
    font-family: $text-face;
    font-size: $text-size;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

a,
label,
input[type=submit] {
    font-family: $heading-face;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    font-family: $text-face;
    background: $red;
    min-height: 100%;
}

.wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background: $dark-gray;
    height: auto;
    table-layout: fixed;
    min-height: 100vh;
    width: 100%;
    max-width: 1200px;
    overflow-x: hidden;
    table-layout: fixed;
    max-width: 2560px;
    margin: 0 auto;
}

.footer {
    color: $light-gray;
    background: $dark-gray;
    padding: 3em;
}

.footer span {
    text-align: center;
}

.logo {
    height: 100%;
    width: 4em;
    &:hover {
        @include transform(scale(1.2));
    }
    // ---------------------- Media queries
    @include breakpoint(small) {
        width: 5em;
    }
}

header {
    display: flex;
    align-self: center;
    z-index: 9;
    position: fixed;
    left: 0;
    right: 0;
}

.header {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 9;
    padding: $gutter;
    @include breakpoint(small) {
        width: 100%;
    }
}

